.messages {
  height: calc(100vh - 150px);

  color: var(--main-text-color);

  background-color: rgba(38, 46, 53, 0.95);

  overflow: hidden;
  overflow-y: scroll;
}

.messages::-webkit-scrollbar {
  width: 6px;
}

.messages::-webkit-scrollbar-thumb {
  background: var(--secondary-bg-color);
}