@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --main-bg-color: #262e35;
  --secondary-bg-color: #7269ef;
  --main-text-color: #e1e9f1;
}

* {
  font-family: "Roboto", Arial, sans-serif;
}

html {
  overflow: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.message-like {
  opacity: 0.3;
}

.message-like:hover,
.message-liked {
  opacity: 1;
}
